@font-face{
  font-family: "Halloween";
  src: url("Halloween.ttf");                            
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  background-color: var(--sandybrown);
}

:root {
  --darkpurple:#040410;
  --purple:#41113E;
  --orange:#F47615;
  --brown:#86381F;
  --sandybrown: #FDAB6D;
  
}

/* NAVBAR */
#nav-bar{
  background-color: var(--darkpurple);
  display: flex;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left:3vh;
}

#nav-bar h1{
  color: #8B1416;
  font-family: 'Halloween',Arial, Helvetica, sans-serif;
  font-size: 3em;
}

#nav-bar ul{
  display: flex;
  margin-left: 20vh;
}

#nav-bar ul li{
  list-style: none;
  padding-top: 3vh;
}

#nav-bar ul li a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color: #8B1416;
  margin-left: 20vh;
}





/* ABOUT */
#container-about{
  background-image: url("../img/background.jpg");
  background-size:100%;
  background-repeat: no-repeat;
  color:white;
  padding-bottom: 100vh;
}